@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Montserrat', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-60: 3.5rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  --clr-linear-gradient: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  --clr-linear-gradient-variant: linear-gradient(
    to right,
    hsl(236, 60%, 85%),
    hsl(237, 56%, 70%)
  );
  --clr-purple: hsla(237, 63%, 65%, 1);

  --clr-white: hsl(0, 0%, 100%);
  --clr-very-light-grayish-blue: hsl(240, 78%, 98%);
  --clr-light-grayish-blue: hsl(234, 14%, 74%);
  --clr-grayish-blue: hsl(233, 13%, 49%);
  --clr-dark-grayish-blue: hsl(232, 13%, 33%);
}

body {
  color: var(--clr-grayish-blue);
  font-family: var(--ff-main);
  font-size: var(--fs-15);
  font-weight: var(--fw-bold);
  line-height: 1.5;
}

img {
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */

.title {
  font-size: var(--fs-32);
}

.toggle__option {
  color: var(--clr-light-grayish-blue);
}

.card__type {
  font-size: var(--fs-18);
}

.card__price {
  color: var(--clr-dark-grayish-blue);
  font-size: var(--fs-72);
}

.card__features {
  list-style: none;
}

.little {
  font-size: var(--fs-36);
  font-weight: var(--fw-regular);
  vertical-align: 10px;
}

.card--main .card__type,
.card--main .card__price,
.card--main .card__feature {
  color: var(--clr-white);
}

/* ================== */
/* Buttons & inputs */
/* ================== */

.card__btn {
  background: var(--clr-linear-gradient);
  border: none;
  border-radius: 0.5em;
  color: var(--clr-white);
  cursor: pointer;
  font-family: inherit;
  font-size: var(--fs-13);
  letter-spacing: 1.5px;
  padding: 1em 2em;
  text-transform: uppercase;
  width: 100%;
}

.card--main .card__btn {
  background: var(--clr-white);
  color: var(--clr-purple);
}

.card__btn:hover,
.card__btn:active {
  background: inherit;
  border: 1px solid var(--clr-purple);
  color: var(--clr-purple);
}

.card--main .card__btn:hover,
.card--main .card__btn:active {
  background: inherit;
  border: 1px solid var(--clr-white);
  color: var(--clr-white);
}

.toggle__clicker input {
  opacity: 0;
}

/* ================== */
/* Utility styles */
/* ================== */
body {
  background: var(--clr-very-light-grayish-blue) url('./images/bg-top.svg') no-repeat
    170px -45px;
  padding: 3em 1.25em 0.5em;
}

.wrapper {
  margin: 0em auto;
  min-width: 290px;
  max-width: 500px;
}

/* ================== */
/* Dynamic styles */
/* ================== */
.monthly {
  display: block;
}

.annually {
  display: none;
}

.card-annually .card__price .annually {
  display: block;
}
.card-annually .card__price .monthly {
  display: none;
}

.toggle__ball.toggle__ball--left {
  /* Positioning */
  left: unset;
  right: 4px;
}

/* ================== */
/* SECTIONS */
/* ================== */

.toggle-area {
  /* Flex properties */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggle-wrapper {
  /* Flex properties */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  margin-top: 1.5em;
}

.toggle__clicker {
  background: var(--clr-linear-gradient);
  border-radius: 1em;
  cursor: pointer;
  height: 30px;
  position: relative;
  width: 50px;
}

.toggle__clicker:hover,
.toggle__clicker:active {
  background: var(--clr-linear-gradient-variant);
}

.toggle__ball {
  /* Positioning */
  position: absolute;
  top: 3px;
  left: 4px;

  background-color: var(--clr-white);
  border-radius: 50%;
  height: 23px;
  width: 23px;
}

.cards-area {
  /* Flex properties */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;

  margin-top: 4em;
}

.card {
  /* Flex properties */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--clr-white);
  border-radius: 0.75em;
  box-shadow: rgba(133, 117, 136, 0.06) 4px 5px 8px 5px,
    rgba(0, 0, 0, 0.06) 5px 4px 10px 2px;
  padding: 2.5em 2em 2.25em;
  text-align: center;
  width: 100%;
}

.card--main {
  background: var(--clr-linear-gradient);
}

.card__features {
  /* Flex properties */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 1em;
  width: 100%;
}

.card__feature {
  border-top: 1px solid var(--clr-light-grayish-blue);
  padding: 0.75em 0;
  width: 95%;
}
.card__feature:last-of-type {
  border-bottom: 1px solid var(--clr-light-grayish-blue);
}

.card__btn {
  margin-top: 2em;
}

.footer {
  font-size: 11px;
  margin-top: 8em;
  text-align: center;
}
.footer a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1001px) {
  html,
  body {
    background-color: var(--clr-very-light-grayish-blue);
    background-image: url('./images/bg-top.svg'), url('./images/bg-bottom.svg');
    background-position: 75% 0, 25% 70%;
    background-repeat: no-repeat;
    height: 100%;
    padding: 0;
  }
  .wrapper {
    height: 97%;
    padding: 4em 2em 0;
    max-width: unset;
  }

  .cards-area {
    /* Flex properties */
    flex-direction: row;
    gap: unset;
  }

  .card {
    /* Flex properties */
    flex-grow: 1;

    max-width: 350px;
  }

  .card.card--main {
    padding: 4em 2em 3.75em;
  }

  .footer {
    margin-top: unset;
  }
}

@media (min-width: 1001px) and (max-height: 900px) {
  body {
    background-position: 100% 0, 0% 100%;
  }

  .wrapper {
    height: 97%;
    padding: 2em 2em 0;
    max-width: unset;
  }

  .cards-area {
    margin-top: 2em;
  }
}
